---
BasedOnStyle: Google

BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
---
Language: Cpp

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
ColumnLimit: 160
